.parent{
  background-color: orange;
  border: 5px solid purple;
}
.parent{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-align: center;
}

td{
  word-break: break-all;
}

.child1{
  background-color: #fff;
  border-radius: 10%;
  padding: 3%;
  margin: 3%;
  width: 20%;
  box-shadow: 20px 12px 18px black;
  word-wrap: break-word;
}
a{
  word-wrap: break-word;
}
img{
  border-radius: 50%;
  border: 2px solid red;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 20px 12px 18px #8000ff;
}

.child2{
  background:#fff;
  border-radius: 10%;
  padding: 3%;
  margin: 3%;
  width: 70%;
  box-shadow: 20px 12px 18px black;
}

@media only screen and (max-width:480px) {
  .parent{
  background-color: orange;
  border: 5px solid purple;
  }
.parent{
  display: flex;
  flex-direction: column;
  }
  .child1{
    background-color: #fff;
    border-radius: 10%;
    padding: 3%;
    margin: 3%;
    width: 85%;
    box-shadow: 20px 12px 18px black;
    word-wrap: break-word;
  }
  a{
    word-wrap: break-word;
  }
  img{
    border-radius: 50%;
    border: 2px solid red;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 12px 18px #8000ff;
  }

  .child2{
    background:#fff;
    border-radius: 10%;
    padding: 3%;
    margin: 3%;
    width: 85%;
    box-shadow: 20px 12px 18px black;
  }
}
@media only screen and (min-width:481px) and (max-width:768px) {

.parent{
  background-color: blue;
  border: 5px solid purple;
  }
.parent{
  display: flex;
  flex-direction: row;
  }

  .child1{
    background-color: #fff;
    border-radius: 10%;
    padding: 3%;
    margin: 3%;
    width: 35%;
    box-shadow: 20px 12px 18px black;
    word-wrap: break-word;
  }
  a{
    word-wrap: break-word;
  }
  img{
    border-radius: 50%;
    border: 2px solid red;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 12px 18px #8000ff;
  }

  .child2{
    background:#fff;
    border-radius: 10%;
    padding: 3%;
    margin: 3%;
    width: 40%;
    box-shadow: 20px 12px 18px black;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .parent{
    background-color: cyan;
    border: 5px solid red;
    }
  .parent{
    display: flex;
    flex-direction: row;
    }
  .child1{
    background-color: silver;
    border: 3px solid red;
    padding: 3%;
    margin: 3%;
    color: #fff;
    width: 50%;
    box-shadow: 20px 12px 18px black;
    border-radius: 10%;
  }
  img{
    border-radius: 50%;
    border: 2px solid red;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 12px 18px black;
    }
  .child2{
    background-color: silver;
    border: 3px solid red;
    padding: 3%;
    color:#fff;
    margin: 3%;
    width: 50%;
    box-shadow: 20px 12px 18px black;
    border-radius: 10%;
    }
}
